{% extends "base.html" %}

{% block content %}
<div style="width: 100%; height: 100%" id="mapContainer"></div>

<script>	
    function showGeoJSONData (map) {
    // Create GeoJSON reader which will download the specified file.
    // Shape of the file was obtained by using HERE Geocoder API.
    // It is possible to customize look and feel of the objects.
    var reader = new H.data.geojson.Reader('data', {
        // This function is called each time parser detects a new map object
        style: function (mapObject) {
        // Parsed geo objects could be styled using setStyle method
        console.log('Reading GeoJSON...')
        if (mapObject instanceof H.map.Polygon) {
            console.log('Polygon Found!')
            mapObject.setStyle({
            fillColor: 'rgba(255, 0, 0, 0.5)',
            strokeColor: 'rgba(0, 0, 255, 0.2)',
            lineWidth: 3
            });
        }
        else if (mapObject instanceof H.map.Polyline) {
            console.log('Polyline Found!')
            data = mapObject.getData()
            console.log(data)
            console.log(data.properties.match)
            var match = data.properties.match
            mapObject.setStyle({
            fillColor: `rgba(${255 * (1 - match)}, ${255 * match}, 0, 0.8)`,
            strokeColor: `rgba(${255 * (1 - match)}, ${255 * match}, 0, 0.8)`,
            lineWidth: 5
            });
        }
        else {
            console.log('No Data Found!')
        };
        // }
        }
    });

    // Start parsing the file
    reader.parse();

    // Add layer which shows GeoJSON data on the map
    map.addLayer(reader.getLayer());
    // map.addObject(reader.getObject());
    }



      // Initialize the platform object:
      
    var platform = new H.service.Platform({
        'apikey': '9HXnYe3FieeH_k-QYuPTquU600_UXKWXU7iD-8wjfTg'
    });

    const lat = {{ lat|safe }};
    const lon = {{ lon|safe }};

    // Obtain the default map types from the platform object
    var defaultLayers = platform.createDefaultLayers();

    // Instantiate (and display) a map object:
    var map = new H.Map(
        document.getElementById('mapContainer'),
        // maptypes.vector.normal.map,
        defaultLayers.vector.normal.map,
        {
        zoom: 13,
        center: { lat: lat, lng: lon }  
        });

    window.addEventListener('resize', () => map.getViewPort().resize());


    // Step 3: make the map interactive
    // MapEvents enables the event system
    // Behavior implements default interactions for pan/zoom (also on mobile touch environments)
    var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

    // Create the default UI components
    var ui = H.ui.UI.createDefault(map, defaultLayers);


    // var marker = new H.map.Marker({ lat: lat, lng: lon });

    // // Add the marker to the map:
    // map.addObject(marker);
    showGeoJSONData(map);

</script>
{% endblock %}